/* styles releated to Contact Form 7 Cloud database */
/* @import bla bla bla */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.first_step_clouddb {
	width:1105px;
}


#cf7cf7clouddiv {
	overflow:hidden;
}

#cf7cloud_welcome {
	width:50%;
	min-height:338px;
}

#cf7cloud_welcome .CU_integrations {
	color:#2888E5;
	font-size:1.2em;
	text-align:left;
}


.cf7cloud_custom_fields_table {
	width:695px;
	margin:10px 0px 0px 0px;
}


#CUintegrations_toleft {
	width:50%; 
	float:left; 
	background:#ffffff; 
	display:block; 
	overflow: hidden;
	border:0px solid black;
	padding:5px 5px 5px 14px;
	margin:0px 0px 0px 2px;
}

#CUintegrations_toright {
	width:45%; 
	min-height:280px; 
	float:left; 
	margin:0px 0px 0px 10px;
	padding:5px;
	background:#ffffff;
	border:none;
	color:#2888E5;
}

#CUintegrations_toright > img {
	margin:0px 20px 0px 0px;
}


#CUintegrations_toright .cf7integrations_support {
	width:98% !important; 
	min-height:200px !important;
	overflow:hidden !important; 
	border:none !important; 
	float:left !important; 
	clear:right !important; 
	padding:0px 0px 0px 10px !important;
	text-align:left !important;
	margin:0px 0px 15px 0px !important;
	display:block !important;
}

#CUintegrations_toright .cf7integrations_support a {
	text-decoration:none;
}

#CUintegrations_toright .cf7integrations_support a:hover {
	text-decoration:underline;
}

#CUintegrations_toright .cf7integrations_support a:visited, #CUintegrations_toright .cf7integrations_support a:focus {
	text-decoration:none;
}

#CUintegrations_toright .cf7integrations_support h2 {
	color:#000000 !important;
	padding:0px 0px 8px 0px !important;
	border-bottom:2px solid #eeeeee !important;	
}


table.table_steps {
   width:100%;
   margin:0px 0px 0px 0px;
 }
 
  table.table_steps td {
   border:none;
   padding:5px 5px 15px 5px;
 }
 

#CUintegrations_toright img {
	float:left;
}

#cf7cloud_welcome .CU_integrations img {
	vertical-align: middle;
	margin:0px 5px 0px 0px
}

#cf7cloud_welcome .CU_integrations span {
	display:inline-block;
	min-width:150px;
}

.five_easy_steps {
	font:bold 1.7em sans-serif;
	color:#000000;
}


#container_cf7clouddatabase {
	width:98%;
	border:none;
	padding:0px 0px 10px 10px;
	background:#eeeeee;
}


.cf7cloud_logo {
	width:97%; 
	height:106px; 
	float:left;
	clear:right; 
	background:#2888E5 url('../../assets/images/cf7integrations_header.png') no-repeat top left; 
	margin:0px 0px 15px 0px;
	padding:0px 20px 0px 0px;
	text-align:right;
	font-family: 'Open Sans';
}


.cf7cloud_logo h1 {
	display:inline-block;
	float:left;
	color:#ffffff;
	font-family:'Open Sans';
	font-size:2.3em;
	margin:15px 0px 0px 135px;
	
}


.cf7cloud_logo img {
	margin:65px 2px 0px 0px;
	border:0px;	
}

.first_step_clouddb h1 {
	margin:5px 0px 0px 0px;
}


.c_container {
	background:yellow;
}


input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
    border-color: #DFDFDF;
    width: 240px;
    height:30px;
}


/* input placeholders color text */
input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c8bfbf;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #c8bfbf;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #c8bfbf;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #c8bfbf;
}
/**/

input , select, textarea {
	margin:0px 4px 0px 4px;
}

input, textarea {
	background-color:#EEE;
}


input:focus, textarea:focus {
	background-color:#FFF;
}

input:hover, textarea:hover {
	border:1px solid #999;
}

.short_input {
	width:45px; 
	text-align:center;
}

.medium_input {
	width:275px;
}

.light_medium_input {
	width:240px;
}

.long_input {
	width:350px;
}

.cbc_subtitles {
	font:bold 1.2em Verdana, Arial;
	text-align:left;
	background:#FFFFFF;
	color:#968787;
	padding:8px;
	border:1px solid #e8dede;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}

.small_desc {
	font-size:0.7em; 
	font-family:Verdana, Arial;
}

/* languages checkboxes styles */
input[name^=lang]{
	margin:0px 20px 0px 0px;
}

table#sugeridos thead {
	background:#CCCCCC;
	text-transform:capitalize;
	color:#ffffff;
}
s
#sugeridos {
	margin:5px 0px 20px 0px;
	border-bottom:1px solid #cccccc;
}

.to_left {
	text-align:left;
}

.to_left input[type=checkbox] {
	margin:0px 5px 0px 15px;
}

.form-table td input[type=checkbox] {
	vertical-align:middle;
	margin:0px 5px 0px 15px;
}

#recursos_adicionales {
	display:none;
}

div.message {
    background-color: #FFFFE0;
    border-color: #E6DB55;
    padding: 4px;
}

#cbc_requisiciones_list {
	width:99%; 
	min-height:400px; 
	float:left;
	clear:right; 
	background:transparent; 
	margin:50px 0px 15px 0px;
}

#detalle_experiencia {
	width:565px;
	height:300px;
}

#attributes_all {
	cursor:pointer;
	color:#000000;
}

#attributes_all:hover {
	cursor:pointer;
	color:#000000;
	text-decoration:underline;
}

#attributes_none {
	cursor:pointer;
	color:#000000;
}

#attributes_none:hover {
	cursor:pointer;
	color:#000000;
	text-decoration:underline;
}

.show_files {
	display:block; text-align:center
}

.hide_files {
	display:none; text-align:center
}

.req_submit_button {
	text-align:center;
}

/*************************************/
/* STYLES FOR THE CF7 CLOUD DATABASE */
#cf7_cloud_table {
			width:685px;
			/*display:none;*/
		}

		#cf7_cloud_table td:nth-child(1) {
		  	width:250px;
		  	text-align: left;
		}

		#cf7_cloud_table td:nth-child(2) {
		  	text-align: left;
		}

		#cf7_cloud_table input[type=text], #cf7_cloud_table input[type=email], select {
			width: 250px;
			height: 35px;
			-moz-border-radius:5px;
			-o-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			margin:3px 40px 3px 0px;
		}

		#cf7_cloud_table select {
			width: 250px;
			height: 33px;
			-moz-border-radius:5px;
			-o-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			margin:3px 0px 3px 0px;
			padding: 5px 5px 5px 5px;
		}

		#cf7_cloud_table input[type=button] {
		  height:35px;
		  width:120px;
		  margin: 12px 0px 0px 15px;
		  padding: 10px 15px 10px 15px;
		  -moz-border-radius:5px;
		  -o-border-radius:5px;
		  -webkit-border-radius:5px;
		  border-radius:5px;
		}

		#cf7cloud-formdata {
			display:none; 
			float:left; 
			clear:right; 
			background:#ffffff; 
			border:1px solid #eeeeee; 
			min-height:525px; 
			width:98%; 
			padding:10px; 
			margin:0px 0px 5px 1px;
			border-radius:5px;
			overflow:hidden;
		}

		#cf7_cloud_table h3, #cf7_cloud_table h2, #cf7_cloud_table h4 {
			width:100%;
			text-transform: capitalize;
		}

		#cf7cloud_video {
			position:absolute; 
			right:25px; 
			top:75px; 
			float:right; 
			width:350px; 
			min-height:300px;
			overflow:hidden; 
			background:transparent;
			
		}
		
		#cf7cloud_video input[type="button"] {
			margin:5px 0px 5px 0px;
		}

		
		input[type=text]:hover:after{
			border: 1px solid #fc0;
			padding: 3px 6px;
			background: #fffea1;
			content: attr(data-title);
			position: absolute;
			right: -40px;
			top: -26px;
		}
		
		span.tr_delete {
			color:red;
			display:inline-block;
			margin:13px 0px 0px 0px;
			cursor:pointer;
		}
		
		img#loading_mapper {
			display:none;
		}

#createpostform {
	width:100%; 
	height:350px; 
	background:transparent; 
	float:left; 
	clear:right; 
	margin:20px 0px 0px 0px;
	display:none;
}

#createpostform table {
	display:block;
	float:left;
}


.btn_clouddb_yes {
	padding:10px 10px;
	margin:0px 10px 0px 0px;
	background:transparent url('../../assets/images/cUsCF7_yes_button.png') no-repeat top left; 
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	color:#ffffff;
	font-weight:bold;
	border:0px;
	cursor:pointer;
	width:193px;
	height:38px;
}

.btn_clouddb_yes span { 
	display:inline-block;
	margin: 0px 25px 0px -30px;
	font-size:14px;
}


.btn_clouddb_no span { 
	display:inline-block;
	margin: 0px 25px 0px -25px;
	font-size:14px;
}


/*
.btn_clouddb_yes:hover {
	padding:10px 10px;
	margin:0px 10px 0px 0px;
	background:#D95711;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	color:#ffffff;
	font-weight:bold;
	border:0px;
	cursor:pointer;
}
*/

.btn_clouddb_no {
	padding:10px 10px;
	margin:0px 10px 0px 0px;
	background:transparent url('../../assets/images/cUsCF7_no_button.png') no-repeat top left; 
	width:193px;
	height:38px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	color:#ffffff;
	font-weight:bold;
	border:0px;
	cursor:pointer;
}

/*
.btn_clouddb_no:hover {
	padding:10px 10px;
	margin:0px 10px 0px 0px;
	background:#1A8ABB;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	color:#ffffff;
	font-weight:bold;
	border:0px;
	cursor:pointer;
}

.btn_clouddb_no:visited {
	padding:10px 10px;
	margin:0px 10px 0px 0px;
	background:#25A9E1;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	color:#ffffff;
	font-weight:bold;
	border:0px;
	cursor:pointer;
}
*/

.action_orange_button {
	padding:10px 20px 10px 20px;
	margin:0px 10px 0px 0px;
	background:#EC661C;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	color:#ffffff;
	font-weight:bold;
	border:0px;
	cursor:pointer;
	text-decoration:none;
}


.action_orange_button:hover {
	padding:10px 20px 10px 20px;
	margin:0px 10px 0px 0px;
	background:#D95711;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	color:#ffffff;
	font-weight:bold;
	border:0px;
	cursor:pointer;
	text-decoration:none;
}

.action_orange_button:visited {
	padding:10px 20px 10px 20px;
	margin:0px 10px 0px 0px;
	background:#EC661C;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	color:#ffffff;
	font-weight:bold;
	border:0px;
	cursor:pointer;
}


.action_orange_button:focus {
	padding:10px 20px 10px 20px;
	margin:0px 10px 0px 0px;
	background:#EC661C;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	color:#ffffff;
	font-weight:bold;
	border:0px;
	cursor:pointer;
}


label.labelform {
	color:#000000;
}

.form-table td:nth-child(1) {
  	width:150px;
  	text-align: right;
}

.form-table td:nth-child(2) {
  	text-align: left;
}

.form-table th, .form-wrap label {
    color:#052545;
    text-shadow: 0 1px 0 #FFFFFF;
    width:170px;
}

.form-table label{color:#0782d3;font-weight:bold;}

 .steps h3 span{
 	border-radius: 30px 30px 30px 30px;
 	background:#fab621;
 	display: inline-block;
 	height:25px;
 	width:25px;
 	text-align:center;
 	font-weight:bold;
 	color:#fff;
 	margin:0 20px;
 	line-height:30px;
 	font-size:18px;
 	}
 
 .step1,
 .step2_,
 .step3,
 .step4,
 .step5,
 .login_form,
 .advice_notice,
 .notice,
 .temp {display:none;}
 
 .advice_notice {
    border: 2px solid #FF0000;
    display: block;
    margin: 17px 0 0;
    padding: 5px 5px;
    display:none;
 }
 
 
  .advice_notice {
    border: 2px solid #FF0000;
    display: block;
    margin: 17px 0 0;
    padding: 10px 5px;
    display:none;
 }
 
 
 .no_post_form {
 	display:block; 
 	margin:-20px 0px 15px -8px;
 	padding:5px 5px 0px 5px;
 	border: 2px solid #FF0000;
 }
 

 .notice_visible {display:block;}
 
 #success_process_login {
 	display:none;
 }
 
 .cf7_cloud_errors {
 	width:98%; 
 	border:2px solid red; 
 	padding:9px 5px 9px 5px; 
 	background:white; 
 	color:red; 
 	margin:14px 0px;
 }
 
 .CF7cloud_introduction_video{
 	float:right; background:transparent; width:370px; height:300px; margin:25px 40px 0px 10px;
 }
 
 cUsCloud_yes {
	
 }
 
 
 




 



